@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?42956579');
  src: url('../font/fontello.eot?42956579#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?42956579') format('woff2'),
       url('../font/fontello.woff?42956579') format('woff'),
       url('../font/fontello.ttf?42956579') format('truetype'),
       url('../font/fontello.svg?42956579#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?42956579#fontello') format('svg');
  }
}
*/
[class^="sajad-icon"]:before, [class*=" sajad-icon"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.sajad-iconclock:before { content: '\e800'; } /* '' */
.sajad-iconclock-1:before { content: '\e801'; } /* '' */
.sajad-iconlink:before { content: '\e802'; } /* '' */
.sajad-iconsearch:before { content: '\e803'; } /* '' */
.sajad-iconsearch-1:before { content: '\e804'; } /* '' */
.sajad-iconvideo:before { content: '\e805'; } /* '' */
.sajad-iconvideo-1:before { content: '\e806'; } /* '' */
.sajad-iconmenu-1:before { content: '\e807'; } /* '' */
.sajad-iconmail:before { content: '\e808'; } /* '' */
.sajad-iconmail-1:before { content: '\e809'; } /* '' */
.sajad-iconmail-2:before { content: '\e80a'; } /* '' */
.sajad-iconmail-3:before { content: '\e80b'; } /* '' */
.sajad-iconcalendar:before { content: '\e80c'; } /* '' */
.sajad-iconcalendar-1:before { content: '\e80d'; } /* '' */
.sajad-iconcalendar-inv:before { content: '\e80e'; } /* '' */
.sajad-iconstopwatch:before { content: '\e80f'; } /* '' */
.sajad-icontag:before { content: '\e810'; } /* '' */
.sajad-iconexclamation:before { content: '\e811'; } /* '' */
.sajad-iconstar:before { content: '\e812'; } /* '' */
.sajad-iconstar-empty:before { content: '\e813'; } /* '' */
.sajad-iconstar-half:before { content: '\e814'; } /* '' */
.sajad-iconstar-1:before { content: '\e815'; } /* '' */
.sajad-iconstar-2:before { content: '\e816'; } /* '' */
.sajad-iconmenu-2:before { content: '\f008'; } /* '' */
.sajad-iconlink-1:before { content: '\f07b'; } /* '' */
.sajad-iconmenu:before { content: '\f0c9'; } /* '' */
.sajad-iconmail-alt:before { content: '\f0e0'; } /* '' */
.sajad-iconstar-half-alt:before { content: '\f123'; } /* '' */
.sajad-iconcalendar-empty:before { content: '\f133'; } /* '' */
.sajad-iconlinkedin-rect:before { content: '\f312'; } /* '' */
.sajad-iconlinkedin-1:before { content: '\f318'; } /* '' */
.sajad-iconlinkedin:before { content: '\f31a'; } /* '' */
